/* PC 1024px = 64em */
@media (min-width: 64em) {
    
}
/* PC & TABLET 1023px = 63.9375em */
@media (max-width: 63.9375em) {
    .m-mt-8 {
        margin-top: 8px !important;
    }
    #header {
        height: 46px;
    }

    .btn {
        padding: 15px 16px;
        width: 100%;
    }

    .m-ticket-btn,
    .contact-submit-btn {
        font-size: 16px;
    }
    .contact-form .form-control {
        padding: 15px;
        font-size: 16px;
    }
    
    .modal-footer .red-close {
        padding: 16px;
    }

    .modal-close {
        padding: 16px 16px;
    }

    .modal-input {
        padding: 16px;
    }

    .modal-label {
        font-size: 16px;
    }

    .contact-info {
        line-height: 2.2;
    }

    #footer .social-list a {
        font-size: 32px;
        padding: 16px;
        text-decoration: none;
    }

    #footer .copy-right {
        font-size: 16px;
    }
    #footer .copy-right a {
        padding: 12px 0;
        display: inline-block;
    }
}
/* TABLET 740px = 46.25em; 1023px = 63.9375em */
@media (min-width: 46.25em) and (max-width: 63.9375em) {

    .contact-info {
        line-height: 2;
    }

    #footer .social-list a {
        font-size: 32px;
        padding: 16px;
        text-decoration: none;
    }

    #footer .copy-right {
        font-size: 16px;
    }
    #footer .copy-right a {
        padding: 12px 0;
        display: inline-block;
    }
}
/* MOBILE */
/* 739 Là break point giữa pc và mobile 739px =  46.1875em*/
@media (max-width: 46.1875em) { 
    .s-full-width,
    .s-coll-full {
        width: 100% !important;
    }
    .s-mt-8 {
        margin-top: 8px !important;
    }
    .s-mt-16 {
        margin-top: 16px !important;
    }

    #header {
        overflow: hidden;
    }

    #header .search-btn {
        display: none;
    }

    #header .moblie-menu-btn {
        display: block;
    }
    /* #header .moblie-menu-btn,
    #header .search-btn{
        padding: 0 23px;
    }

    #header .menu-icon,
    #header .search-icon{
        color: #fff;
        font-size: 16px;
        line-height: 46px;
    } */

    #nav {
        display: block;
    }
    
    #nav > li {
        display: block;
    }

    #nav li a{
        padding: 1px 24px;
    }

    #nav > li:first-child {
        display: inline-block;
    }
    
    #nav .subnav {
        position: initial;
        background-color: #333;
    }

    #nav .subnav a {
        color: #fff;
        padding: 5px 41px;
    }
    /* Ẩn content trên silder khi hiển thị trên mobile */
    #slider .text-heading, #slider .text-discription {
        display: none;
    }
    #contain .member-img {
        width: 60%;
    }
    .contact-form {
        margin-top: 32px;
    }

    #footer .social-list a {
        font-size: 28px;
        padding: 4px;
        text-decoration: none;
    }

    #footer .copy-right {
        font-size: 16px;
    }
    #footer .copy-right a {
        padding: 12px 0;
        display: inline-block;
    }
}